@page "/Issue01"

<Headers Header="Issue 01 - Rust in MKProjects"></Headers>


<div class="w3-content w3-padding-16">
    <div class="w3-center">
        <p>If it isn't already obvious, my favourite programming language is Rust, my least, Java, but this issue is all about Rust.
            In MKProjects, Rust is the first language to have a book with a deeper look about it: exploring basics, and more advance topics.
            As well as the guide being aimed towards Rust 2021 edition, which is coming out at October. Now what attracts Rust 
            to other developers? Well if you come from a language such as Python, you'll appreciate it's faster runtime as well as 
            memory-safe, zero abstractions ideology. Unlike other languages like Java, Golang, etc. Rust doesn't have a garbage collector,
            not only would it affect performance (against the zero abstractions rule), you won't be able to handle memory like you can 
            in languages like C or C++. Instead Rust uses a Borrow Checker (what beginner's usually fight with) and it 
            considers lifetimes and in essence there can only be one owner of a value.</p>
        
        <p>Another thing I love is Cargo, it is simple to publish your own crate or use others and documentation has become
            so easy to do! Rust is probably the only language with documentation syntax, and honestly it's perfect in most cases.
            However it's still young and with increasing support from tech giants I see it growing rapidly, and with a great community I 
            see a lot of greatness yet to come, and in my part I will continue to use it as a main development language to show it as a 
            worthy language to use.</p>
        <p>Gist of Rust is still very much in the work, however if interested to contribute, make sure to email <a href="mailto:mustafif0929@gmail.com">mustafif0929@gmail.com</a></p>
    </div>
</div>
