@page "/Issue02"
<Headers Header="Issue 02 - No Python?"></Headers>


<div class="w3-content w3-padding-16">
    <div class="w3-center">
        <p>
            Python is mine and many others' first programming language, but unlike probably most others I didn't
            stick with it that long. In Grade 10 ICS you enter in the world of Java, the most pain the arse world.
            Yeah sure Java has it's strength, but it also wasn't really for me (mostly the long type setting), I mean
            why does printing something feel so long (<code>System.out.println()</code>) unlike something
            like C++ that's only <code>std::cout</code>. But as much as I am to complain of Java, unlike
            Python it helped me understand other Object-Oriented Languages a lot better.
        </p>
        
        <p>
            But Python is used with MKProject Books believe it or not, and the program is used to package
            the books in various formats (Currently PDF is only released) and this is done by the books having the 
            same underlying structure.
        </p>
        
        <h3>So then what do I like?</h3>
        <p>
            Well conveniently enough I already mentioned Rust in the last issue, however that came through by my 
            interest in C++, and C++ is amazing. When I program in C++, I feel like I have everything in my toolkit, 
            many would argue of my toolkit, but keep in mind I mainly do Console Applications and sorts. Every language 
            has its strengths and weaknesses, like C++ with memory management, most modern languages handle that in 
            some type of way, however C++ has it's fast runtime, and vast types. I'm not a data scientist, and that's Python's 
            main attraction, so yes Python is a very popular language, but it's not like everyone needs to use it.
        </p>
        <p>
            If you're a new programmer, I suggest doing some research and look into what interests you, mine is System 
            Programming so languages like C++ & Rust makes sense. If you're going into Mobile Development, maybe Kotlin, Swift 
            or Dart. So don't think Python is the first and only choice, learn something that's related to the field of interests,
            and if you're ever stuck, C++ ain't a bad option to understand core fundamentals. 
        </p>
    </div>
</div>
