@page "/"

<Headers Header="Welcome to MKProjects"></Headers>
<div class="w3-content w3-padding-16" style="text-align: center">
    <div class="w3-center">
        <h5>The Make Projects Initiative is aimed to be a collection of <strong>Open Source</strong>
            projects made collaboritavely between programmers as a platform of support. </h5>
    </div>
</div>
